section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.curriculum {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
}